resources/bower/*
!resources/bower/async/lib/async
!resources/bower/jquery/dist/jquery.js
!resources/bower/jquery/dist/jquery.min.js
.idea
npm-debug.log
coverage
lib/system/activity.log*
lib/system/data/*.nedb
.DS_Store
