.idea
npm-debug.log
coverage
lib/system/activity.log*
lib/system/data/*.nedb
.DS_Store

resources/bower/*


!resources/bower/async/lib/async.js
!resources/bower/jquery/dist/jquery.js
!resources/bower/jquery/dist/jquery.min.js


!resources/bower/font-awesome/css/font-awesome.min.css 
!resources/bower/ionicons/css/ionicons.min.css 
!resources/bower/angular-chart.js/dist/angular-chart.css 
!resources/bower/jquery-ui/jquery-ui.min.js
!resources/bower/angular/angular.js
!resources/bower/moment/min/moment.min.js
!resources/bower/angular-ui/build/angular-ui.min.js
!resources/bower/angular-bootstrap/ui-bootstrap-tpls.min.js
!resources/bower/angular-animate/angular-animate.min.js
!resources/bower/angular-ui-sortable/sortable.min.js
!resources/bower/json-edit/js/directives.js
!resources/bower/angular-moment/angular-moment.min.js
!resources/bower/Chart.js/Chart.min.js
!resources/bower/angular-chart.js/dist/angular-chart.min.js




!resources/bower/font-awesome/fonts/fontawesome-webfont.woff2
!resources/bower/ionicons/fonts/ionicons.ttf
!resources/bower/font-awesome/fonts/fontawesome-webfont.woff
!resources/bower/ionicons/fonts/ionicons.woff
!resources/bower/font-awesome/fonts/fontawesome-webfont.ttf